h1{
    font-size: 20px;
    color: rgb(0, 80, 190);
    margin-bottom: 10px;
    /*
    margin-left: 10%;
    */
    font-weight: 700;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 230, 195);
}
